html
   head
      meta(charset='UTF-8')
      title metacritic 게임
      link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')

   body(class='container')
      h1(class='text-center') 게임 평가 목록

      table(class='table table-bordered')
         thead(class='thead-light')
            tr
               each val, index in {2:'제목', 3:'장르', 4:'개발사', 5:'출시일', 6:'점수', 7:'기기'}
                  th(class='col')
                     a(href='?sort='+index+((index==sort&!direction)?'&direction=1':'') class='btn btn-block') #{val}
               th(colspan=2) 
                  button(onclick='document.getElementById("input").style.display = "";' class='btn btn-block btn-primary') 추가
         tbody
            tr(id='input' style='display:none')
               form(action='/game?_method=POST' method='post' style='margin:0; padding:0')
                  td(style='display:none;')
                     input(type='text' name='_id' class='form-control' disabled)
                  td 
                     input(type='text' name='title' class='form-control')
                  td
                     input(type='text' name='genre' class='form-control')
                  td
                     input(type='text' name='developer' class='form-control')
                  td
                     input(type='number' name='releaseDate' class='form-control')
                  td
                     input(type='number' name='score' class='form-control')
                  td
                     input(type='text' name='platform' class='form-control')
                  td(colspan=2)
                     input(type='submit' value='추가' class='btn btn-block btn-success' class='form-control')

            for item in games
               tr
                  td(class='text-center' style='display:none;') #{item._id}
                  td #{item.title}
                  td #{item.genre}
                  td #{item.developer}
                  td #{item.releaseDate}
                  td(class='text-center') #{item.score}
                  td #{item.platform}
                  td
                     button( id='btn'+item._id+'open' onclick='document.getElementById("tr'+item._id+'").style.display = "";' class='btn btn-block btn-warning') 수정
                  td
                     form(action='/game/'+item._id+'?_method=DELETE' method='post' style='margin:0')
                        input(type='submit' value='삭제' class='btn btn-block btn-danger')
               tr(id='tr'+item._id style='display:none')
                  form(action='/game?_method=PUT' method='post' style='margin:0; padding:0')
                     td(style='display:none;')
                        input(type='text' name='_id' value=item._id class='form-control' readonly)
                     td
                        input(type='text' name='title' value=item.title class='form-control')
                     td
                        input(type='text' name='genre' value=item.genre class='form-control')
                     td
                        input(type='text' name='developer' value=item.developer class='form-control')
                     td
                        input(type='number' name='releaseDate' value=item.releaseDate class='form-control')
                     td
                        input(type='number' name='score' value=item.score class='form-control')
                     td
                        input(type='text' name='platform' value=item.platform class='form-control')
                     td(colspan=2)
                        input(type='submit' value='수정' class='btn btn-block btn-success' class='form-control')
